body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  background-image: url("https://source.unsplash.com/random");
  background-repeat: no-repeat;
  background-size: cover;
}

#container {
  height: 50vh;
  width: 50vh;
  border-radius: 20px;
}

#container input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

ul {
  list-style: none;
  margin: 0;
  padding: 1em;
}
